

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

$titleFontFamily: 'Barlow Condensed', sans-serif;

body{
 margin:0vw;
}

* {
  box-sizing: border-box;
}


#row::after {
  content: "";
  clear: both;
  display: table;
}



[class*=col-] {
  float: left;
}

h2{
  margin-bottom:5vw;
  font-size:2em;
  font-family:$titleFontFamily;
 }
h3,a{
  font-family:$titleFontFamily;
  font-size:1.6em;
}
p{
 font-size:1.3em;
 color:white;	
}

.col-1 {
  background-color:white;
  width: 100%;
 
   #smallDeviceMenu {
    display:none;
  }
  
  img{
	 margin-top:6.8vw;
	 width: 47%;
     position:absolute;
  }

  ul {
     list-style-type: none;
	 
   li {
     float: right;
	 
     a:hover {
      border-bottom: .3vw solid #C8C8C8;
	}
	
   li, a,  ul{
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 2.1vw;
    font-weight:600;
    font-family:$titleFontFamily;
    text-decoration: none;
    padding:2vw 3.8vw;
 }

}

}

 
.serchContainer{
  margin:25vw 60vw 0vw 50vw;
  width:40%;
  padding:1.5vw;
  background-color:#FFD700;
	
  input {
   padding: 1vw;
   font-size: 1em;
   border: .4vw solid #FFD700 ;
   float: left;
   width: 90%;
   border-radius:.5vw;
}

 
	
}
}
 .searchButton{
   float: left;
   margin-left:-7vw;
   width: 23%;
   padding: .9vw;
   font-size:1em;
   background: transparent;
   color: black;
   border: none;
   cursor: pointer;
}


.col-2 {
  width: 100%;
  background-color: white;
  padding:13vw 13vw 7vw 13vw;
  
  
  div{
   width:30%;
   padding:4vw;
   margin:0 auto;
   margin-left:2vw;
   display:inline-block;
  }
  
   div:nth-child(2){ 
    background-color:#808080;
}
   :nth-child(3){ 
    background-color:#FFD700;
}
   :nth-child(4){ 
    background-color: #C0C0C0;
}
  
}

.col-3{
  width: 100%;
  background-color:white;
  margin-left:8vw;
  
  img{
   width:40%;
   margin-left:-10vw;
  }
  
  div{
   width:50%;
   background-color:#C0C0C0;
   padding:2vw;
   float:left;
  }
  
  button{
   @extend .searchButton;
   background:#808080;
   float:right;
   border-radius:.4vw;
   margin-right:6vw;
   font-family:$titleFontFamily;
  }

}


.col-4 {
  width: 100%;
  background-color:white;
  padding:10vw;
 
  div{
   width:80%;
   background-color:black;
   padding:2vw;
   margin:0 auto;
   display:flex;
   
    div{
    width:35%;
    display:inline-block;
  }
 
  a{
	display:block;
	color:white; 
    white-space: nowrap;	
  }
  
  div:nth-child(1){ 
   background-color: #C0C0C0;
}
  div:nth-child(2){ 
   background-color:#FFD700;
}
  }
 

}


.col-5 {
  width: 100%;
  background-image: linear-gradient(white, #FFD700);
  padding:2vw;

div {
   margin:0 auto;
   display:flex;

   div{
	 display:inline-block;  
	 
   }
 
   a{
	  text-decoration: none;
      color: #808080;  
  }
  
  }
  
  hr{	  
	width:60%;
	margin-top:3vw;
    background-color: #808080;
	  }
	  
  .icon{
	display:flex;
	justify-content:center;
	
	i{
		margin:2vw;
	}
	  
}

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-1{
    ul{ 
     display: none;
  }
  
   #smallDeviceMenu{
	 display:inline-block;
	 font-family:$titleFontFamily;
	 float: right;
	  
	  i{
		 font-size:3em;
	   }
	 
 
      ul{
	   list-style: none;
	   padding: 0 0 4vw 0;
	   background-color:white;
	   position: absolute;
	   display: none;
    }

      li{
	   display:block;
	   margin-right:7vw;
	   position: relative;
     }

      ul li{
	   float: none;
	   margin: 0;
	   padding: 0;
	   line-height: 8vw;
	   
	   a{
		font-size:3.5vw;
	   } 
		
}
      a:link, a:visited{
		  
	   display:block;
	   text-align: left;
	   text-decoration: none;
    }

      li:hover ul{
	   display: block;
   }
 }
 

}
  
  
  .col-2 {
   div{
    width:90%;
    padding:3vw;
    margin:6vw auto;
    display:block;
  }
  
  }
  
  .col-3{
    div{
     width:60%;
     padding:-10vw;
  }
  
  button{
   width:40%;
  }

}

.col-4 {
  overflow-x:auto;

   div{
    justify-content:center;
	background-color:white;
	
    div{
     padding-right:43vw;
	 width:50%;
	 margin-left:10vw;
	}

  }
}

}
