@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");
body {
  margin: 0vw;
}

* {
  box-sizing: border-box;
}

#row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
}

h2 {
  margin-bottom: 5vw;
  font-size: 2em;
  font-family: "Barlow Condensed", sans-serif;
}

h3, a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6em;
}

p {
  font-size: 1.3em;
  color: white;
}

.col-1 {
  background-color: white;
  width: 100%;
}
.col-1 #smallDeviceMenu {
  display: none;
}
.col-1 img {
  margin-top: 6.8vw;
  width: 47%;
  position: absolute;
}
.col-1 ul {
  list-style-type: none;
}
.col-1 ul li {
  float: right;
}
.col-1 ul li a:hover {
  border-bottom: 0.3vw solid #C8C8C8;
}
.col-1 ul li li, .col-1 ul li a, .col-1 ul li ul {
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 2.1vw;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  padding: 2vw 3.8vw;
}
.col-1 .serchContainer {
  margin: 25vw 60vw 0vw 50vw;
  width: 40%;
  padding: 1.5vw;
  background-color: #FFD700;
}
.col-1 .serchContainer input {
  padding: 1vw;
  font-size: 1em;
  border: 0.4vw solid #FFD700;
  float: left;
  width: 90%;
  border-radius: 0.5vw;
}

.searchButton, .col-3 button {
  float: left;
  margin-left: -7vw;
  width: 23%;
  padding: 0.9vw;
  font-size: 1em;
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.col-2 {
  width: 100%;
  background-color: white;
  padding: 13vw 13vw 7vw 13vw;
}
.col-2 div {
  width: 30%;
  padding: 4vw;
  margin: 0 auto;
  margin-left: 2vw;
  display: inline-block;
}
.col-2 div:nth-child(2) {
  background-color: #808080;
}
.col-2 :nth-child(3) {
  background-color: #FFD700;
}
.col-2 :nth-child(4) {
  background-color: #C0C0C0;
}

.col-3 {
  width: 100%;
  background-color: white;
  margin-left: 8vw;
}
.col-3 img {
  width: 40%;
  margin-left: -10vw;
}
.col-3 div {
  width: 50%;
  background-color: #C0C0C0;
  padding: 2vw;
  float: left;
}
.col-3 button {
  background: #808080;
  float: right;
  border-radius: 0.4vw;
  margin-right: 6vw;
  font-family: "Barlow Condensed", sans-serif;
}

.col-4 {
  width: 100%;
  background-color: white;
  padding: 10vw;
}
.col-4 div {
  width: 80%;
  background-color: black;
  padding: 2vw;
  margin: 0 auto;
  display: flex;
}
.col-4 div div {
  width: 35%;
  display: inline-block;
}
.col-4 div a {
  display: block;
  color: white;
  white-space: nowrap;
}
.col-4 div div:nth-child(1) {
  background-color: #C0C0C0;
}
.col-4 div div:nth-child(2) {
  background-color: #FFD700;
}

.col-5 {
  width: 100%;
  background-image: linear-gradient(white, #FFD700);
  padding: 2vw;
}
.col-5 div {
  margin: 0 auto;
  display: flex;
}
.col-5 div div {
  display: inline-block;
}
.col-5 div a {
  text-decoration: none;
  color: #808080;
}
.col-5 hr {
  width: 60%;
  margin-top: 3vw;
  background-color: #808080;
}
.col-5 .icon {
  display: flex;
  justify-content: center;
}
.col-5 .icon i {
  margin: 2vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-1 ul {
    display: none;
  }
  .col-1 #smallDeviceMenu {
    display: inline-block;
    font-family: "Barlow Condensed", sans-serif;
    float: right;
  }
  .col-1 #smallDeviceMenu i {
    font-size: 3em;
  }
  .col-1 #smallDeviceMenu ul {
    list-style: none;
    padding: 0 0 4vw 0;
    background-color: white;
    position: absolute;
    display: none;
  }
  .col-1 #smallDeviceMenu li {
    display: block;
    margin-right: 7vw;
    position: relative;
  }
  .col-1 #smallDeviceMenu ul li {
    float: none;
    margin: 0;
    padding: 0;
    line-height: 8vw;
  }
  .col-1 #smallDeviceMenu ul li a {
    font-size: 3.5vw;
  }
  .col-1 #smallDeviceMenu a:link, .col-1 #smallDeviceMenu a:visited {
    display: block;
    text-align: left;
    text-decoration: none;
  }
  .col-1 #smallDeviceMenu li:hover ul {
    display: block;
  }

  .col-2 div {
    width: 90%;
    padding: 3vw;
    margin: 6vw auto;
    display: block;
  }

  .col-3 div {
    width: 60%;
    padding: -10vw;
  }
  .col-3 button {
    width: 40%;
  }

  .col-4 {
    overflow-x: auto;
  }
  .col-4 div {
    justify-content: center;
    background-color: white;
  }
  .col-4 div div {
    padding-right: 43vw;
    width: 50%;
    margin-left: 10vw;
  }
}

/*# sourceMappingURL=style.css.map */
